<% provide(:title, "Edit user") %>
<div class="row">
  <div class="small-11 small-centered columns">
  	<%= form_for(@user) do |f| %>
  		<%= render 'shared/error_messages' %>
  		<%= f.label :name %>
  		<%= f.text_field :name %>

  		<%= f.label :email %>		
  		<%= f.text_field :email %>

  		<%= f.label :password %>
  		<%= f.password_field :password %>

  		<%= f.label :password_confirmation, "Confirmar Contraseña" %>
  		<%= f.password_field :password_confirmation %>

  		<%= f.submit "Guardar Cambios", class:"button" %>
  	<% end %>
  	  <%= gravatar_for @user %>
  	  <a href="http://gravatar.com/emails">Cambiar</a>
  </div>
</div>